:root {
  --primary-color: #90caf9;
  --secondary-color: #45628d;
  --background-color: #121212;
  --paper-background-color: #434945;
  --text-primary-color: #e3fffd;
  --text-secondary-color: #aaaaaa;
}
