body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

nav {
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
